.confirmation-page-container {
    padding: 2em;
    text-align: center;
}

.confirmation-page-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.confirmation-text {
    width: 70%; /* Match the width to the table */
    margin: 2em auto; /* Centered horizontally and provide vertical spacing */
    padding: 2em; /* Uniform padding for content breathing space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtler and more refined shadow */
    background-color: #fff; /* Background color for contrast */
    font-size: 1.2rem;
    color: #333; /* Dark grey for better readability */
    border-radius: 8px; /* Softened corners for a modern look */
}

.confirmation-shopping-button {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0;
    cursor: pointer;
    transition: color 0.5s ease;
    background-color: black;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    display: inline-block;
    margin-top: 2em;
}

.confirmation-shopping-button:hover {
    color: #808080;
}

.confirmation-page-message,
.confirmation-page-details {
    padding-top: 1rem;
    text-align: left;
    margin-top: 20px;
}

.cart-actions {
    text-align: center;
}

.conf-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.conf-center-text {
    text-align: left;
    margin: auto;
    padding: 2em;
}

.conf-strong {
    font-weight: bold;
}

.conf-ul {
    list-style: none;
    padding: 0;
}

.conf-li {
    padding: 15px 0;
    color: #333;
    border-bottom: 1px solid #eaeaea; /* Adds a light separator for better visual structure */
}

.conf-line-sep,
.conf-line-sep-2 {
    border-bottom: 1px solid #dcdcdc;
    margin: 15px 0;
    height: 1px; 
}

.conf-confirmation-table {
    width: 70%;
    padding: 2em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.conf-confirmation-table-ul {
    list-style-type: none;
    padding: 0;
}

.conf-confirmation-table-li {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: start;
}

.conf-heading-book-2,
.conf-heading-delivery {
    flex: 3;
    text-align: left;
    padding-top: 0.5em;
}

.conf-heading-quantity-2 {
    flex: 1;
    text-align: center;
    white-space: nowrap;
}

/* border-bottom: 1px solid #565252; */

.subtotal-line {
    border-top: 1px solid #565252;
}

.conf-heading-subtotal-2 {
    flex: 1;
    text-align: right;
}

.conf-heading-price-2 {
    text-align: right;
    display: block;
}

.conf-heading-row {
    border-bottom: 1px solid #565252;
}

.conf-total-row {
    border-top: 2px solid #000;
    font-weight: bold; /* Emphasize total amount */
    color: #000;
}

.conf-gap {
    margin-bottom: 15px;
}
